.form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  max-height: 400px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.form_fields {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

label {
  color: white;
  padding-left: 5px;
}

input {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}

input:focus {
  border: 5px solid #5cb85c;
}

button {
  background-color: #5cb85c;
  color: white;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 10px;
}
